$black:black;
$dark-gray:#333333;
$light-dark-gray: #404040;
$disabled-color:#90959d;
$white:white;
$green:green;
$blue:#1a66e1;
$dark-blue:#0078d3;
$gray-white:#e5e5e5;
$font-sans-serif: 'Helvetica Neue',
Helvetica,
'PingFang SC',
'Hiragino Sans GB',
'Microsoft YaHei',
'微软雅黑',
Arial,
sans-serif;

body {
    background: $dark-gray;
}